[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "deform"]
	path = deform
	url = https://github.com/byoungman/deform
[submodule "evgam"]
	path = evgam
	url = https://github.com/byoungman/evgam
[submodule "ppgam"]
	path = ppgam
	url = https://github.com/byoungman/ppgam
