[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "evgam"]
	path = evgam
	url = https://github.com/cran/evgam
	shallow = true
	registered = true
[submodule "ppgam"]
	path = ppgam
	url = https://github.com/cran/ppgam
	shallow = true
	registered = true
